
.text-red {
  color: red;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.sub-title {
  font-size: 1.5em;
}

.description {
  font-size: 1rem;
}

input {
  border: none;
 /*  width: auto; */
}

input:focus {
  border: 1px black solid;
}

body {
  font-family: 'Courier New', Courier, monospace;
}


.color-sample {
  border: 1px black solid;
  width: 20px;
}

.act-color-sample {
  border: 1px black solid;
  width: 25px;
  height: 25px;
  margin-right: 1rem;

}
.plot-color-sample {
  border: 1px black solid;
  width: 25px;
  height: auto;

}
