:root {
  --color-light-bg: #FCFCFD;
  --color-light-text: #e6e6e6;
  --color-dark-bg: #100d36;
    --color-dark-bg-extra:#28254a;

  --color-dark-text: #f5f5f5;
  --border-radius: 4px;
}



.text-red {
  color: red;
}

input {
  border: none;
  /*  width: auto; */
}

input:focus {
  border: 1px black solid;
}

body {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}
.w-100 {
  width: 100%;
}
.color-sample {
  border: 1px black solid;
  width: 20px;
}

.act-color-sample {
  border: 1px black solid;
  min-width: 25px;
  width: 25;
  height: 25px;
  margin-right: 1rem;
}
.plot-color-sample {
  border: 1px black solid;
  width: 25px;
  height: auto;
}

.drag-handle {
/*   cursor: grab;
  color: #333;
  background-color: #ddd;
  padding: 5px;
  opacity: 0.5; */
}
.drag-scene-handle {
  cursor: grab;
  color: #333;
/*   background-color: #ddd;
 *//*   padding: 5px;
  width: 37px; */
/*   opacity: 0.5;
  top: 50%;
  left: 0px; */
/*   position: absolute;
 */}

/* button {
  cursor: grab;
  color: #333;
  background-color: #ddd;
  padding: 5px;
  opacity: 1;

}
 */


/* .no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
 */
body {
  margin: 0;}

/* COMMON STYLES */

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.hide {
  display: none !important;
}
.p-1 {
  padding: 1rem;
}
.card {
  border: 1px rgba(105, 105, 105, 0.2) solid;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.sceneClass {
  margin: 0.5rem;
  width: auto;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.scene-creator {
  margin: 0.5rem;
  width: auto;
}

ul {
  list-style: none;
  padding: none;
}
/* textarea {
  height: auto;
  min-width: 100px;
  max-width: 480px;
  max-height: 300px;
} */

#file-upload {
  display: none;
}
/* CSS */

.cardStyle, .card {
    background-color: #FCFCFD;
  border-radius: var(--border-radius);
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;

}
button{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: var(--border-radius);
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.settings button {
  margin-right: 10px;
}

/* dark mode */
body.dark-mode {
  background-color: var(--color-dark-bg);
  color: var(--color-light-text)!important;
}

body.dark-mode .scene-title-header  {
  color: var(--color-light-text)!important;

}
body.dark-mode .title {
  color: var(--color-light-text)!important;
  background: none;

}
body.dark-mode .title {
  color: var(--color-light-text)!important;
  background: none;

}

.plot-creator {
  color: var(--color-light-text)!important;
}

body.dark-mode .card {
  background-color: var(--color-dark-bg);
  box-shadow: var(--color-light-text) 0 2px 4px, var(--color-light-text) 0 7px 13px -3px, var(--color-light-text) 0 -3px 0 inset; 
}

body.dark-mode button,
body.dark-mode .input-description,
body.dark-mode .scene-title,
body.dark-mode .plot-intensity {
  background-color: var(--color-dark-bg);
  color: var(--color-light-text)!important;
}

body.dark-mode .plot-intensity {
  border: 1px var(--color-light-text) solid!important;
  border-radius: 1px;
}